<!DOCTYPE html>
<html
  lang="en"
  style="scrollbar-gutter: stable;"
  class={"h-full antialiased js-focus-visible #{if Plug.Conn.get_session(@conn, :dark), do: "dark"}"}
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta
      name="description"
      content={
        assigns[:page_description] ||
          "All things productivity, learning, longevity, writing, and giving back."
      }
    />
    <.live_title suffix=" · Max Gorin">
      <%= assigns[:page_title] || "Home" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
    <div class="fixed inset-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-7xl lg:px-8">
        <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20">
        </div>
      </div>
    </div>
    <div class="relative">
      <%= @inner_content %>
    </div>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2CC2PLNK02">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2CC2PLNK02');
    </script>
  </body>
</html>
